html {
    color: #333;
    background-color: #f8f8ec;
    scroll-behavior: smooth;
    scroll-padding-top: 7rem;
    font-size: 1rem;
}

h1 {
    font-size: 1.7rem;
    font-weight: bold;
    margin-bottom: 1rem;
}

h2 {
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 1rem;
    color: #3498DB;
}

h3 {
    font-size: 1.25rem;
    font-weight: bold;
    margin-bottom: 1rem;
    color: #4A321D;
}

p {
    line-height: 125%;
}
a {
    color: #3498DB;
    text-decoration: none;
    transition: all .7s;
}

a:hover {
    color: #4A321D;
}

p {
    margin-bottom: 1rem;
}

ul {
    margin-bottom: 1rem;
    list-style-type: circle;
    list-style-position: inside;
    line-height: 120%;
}

header {
    text-align: center;
    margin: 0 auto;
    position: sticky;
    top: 0;
    z-index: 10;
    background-color: white;
    padding: 1rem;
}

nav {
    margin: 0 auto;
    max-width: 400px;
}

nav ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style-type: none;
    margin-bottom: 0;
}

nav ul li {
    margin: 0 0.9rem;
    font-size: 1.2rem;
}

#about, #projects, #skills, #contact {
    margin: 3rem auto;
    width: 80%;
}

#about {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

#about img {
    width: 5rem;
    border-radius: 50%;
    margin-right: 2rem;
    margin-bottom: 1rem;
}

#about {
    max-width: 800px;
}

#skills, #contact {
    max-width: 500px;
}

#projects-grid {
    display: grid;
    gap: 2rem;
    grid-template: repeat(auto-fit, minmax(300px, 1fr)) / repeat(auto-fit, minmax(300px, 1fr));
    margin: 2rem auto;
}

#projects-grid > div {
    background-color: antiquewhite;
    padding: 2rem 2rem 1rem 2rem;
    border-radius: 2rem;
}

#projects-grid > div img {
   width: 100%;
   opacity: 0.8;
   border-radius: 0.5rem;
   transition: opacity 550ms;
}

#projects-grid > div:hover img {
    opacity: 1;
}

#skills-bg {
    background-color: #ffffff;
    padding: 1rem;
}

#skills h3 {
    margin-top: 30px;
}

#contact h2 {
    margin-bottom: 30px;
}

input, textarea {
    width: 100%;
    padding: 1rem 1.25rem;
    margin: 0.5rem 0;
    display: inline-block;
    background-color: white;
    border: 1px solid antiquewhite;
    border-radius: 0.5rem;
    box-sizing: border-box;
  }
  
  button {
    width: 100%;
    background-color: #3498DB;
    color: white;
    padding: 1rem 1.25rem;
    margin: 0.5rem 0;
    border: none;
    border-radius: 0.5rem;
    cursor: pointer;
    font-size: 1.2rem;
    transition: all .7s;
  }
  
  button:hover {
    background-color: #4A321D;
  }

footer {
    text-align: center;
    margin: 0 auto;
    background-color: white;
    padding: 2rem;
}